/* body {
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #fff;
} */

div, h1, h2, p, a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-text {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  margin: 0;
}

.link {
  color: #FFDC00;
  text-decoration: none;
}

.container {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  -webkit-transition: display 0.3s ease;
  -o-transition: display 0.3s ease;
  transition: display 0.3s ease;
  margin-top: 80px;
  width: 100%;
}

.title div {
  display: inline-block;
}

.title-hi {
  width: 31%;
}

/* h1 {
  font-size: 150px;
} */

.title-name {
  width: 67%;
}

/* h2 {
  font-size: 50px;
  padding-top: 15px;
} */

.boring-info {
  padding-left: 10px;
}

.boring-info p {
  font-weight: lighter;
  margin-top: 10px;
  line-height: 1.2em;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}

.boring-info p:first-child {
  margin-top: 0;
}

p.important-info {
  font-size: 1.5em;
  text-align: center;
}

.icons-list {
	list-style-type: none;
	padding-left: 0;
  text-align: center;
}

.icon-item {
	display: inline;
  margin-right: 10px;
}
